html {
	background-color: #ede5c7;
}
 h2 {
	 font-size: 30px;
 }
td {
	text-align:center-right;
}
.grid-container {
  display: grid;
  grid-template: 250px / auto auto auto;
  grid-gap: 5px;
  background-color: #ede5c7;
  padding: 0px;
}
.grid-container>div {
  background-color: #ede5c7;
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}